<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h1>Add new customer</h1>
    <form method="post" action="/customers/create">
        <label>Company Name</label>
        <br />
        <input type="text" name="CompanyName" />
        <br />
        <label>Adress</label>
        <br />
        <input type="text" name="Adress" />
        <br />
        <label>EmployeeCount</label>
        <br />
        <input type="text" name="EmployeeCount" />
        <br /><br />
        <input type="submit" value="Submit" />

    </form>

</body>
</html>
