@using Grupparbete2.Models;
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>SUCCESS!!!!</h1>
    <ul>
        @foreach (var customer in (Customer[])ViewData["Customers"])
        {
            <li>@customer.CompanyName</li>
        }
    </ul>
</body>
</html>
